.glass-navbar {
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0.8rem 1rem;
  transition: all 0.3s ease-in-out;
}

.navbar .nav-link {
  transition: 0.3s;
}

.navbar .nav-link:hover {
  color: #ffc107 !important;
  transform: scale(1.05);
}

.btn-light {
  transition: 0.3s ease;
}

.btn-light:hover {
  background-color: #f8f9fa;
  color: #000;
}

.alertlist{
  list-style-type:none;
}
.alertlist li{
  margin-right:5px;
  padding:0px 10px;
}
