/* SearchForm.module.css */

.searchCard {
  max-width: 960px;
  margin: 40px auto;
  padding: 30px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.searchForm {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.formItem {
  flex: 1 1 30%;
  min-width: 240px;
  border-radius: 15px;
  background: rgba(19, 19, 19, 0.42);
}

.searchButton {
  width: 100%;
  padding: 14px 16px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  backdrop-filter: blur(6px);
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.searchButton:hover {
  background: rgba(255, 255, 255, 0.2);
}



@media (max-width: 768px) {
  .formItem {
    flex: 1 1 100%;
  }

  .searchButton {
    font-size: 14px;
    padding: 12px;
  }
}
